/bootstrap/compiled.php
.env.*.php
.env.php
.env
/public/storage
/node_modules
/public/hot
/storage/*.key
/vendor
/vendor/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
